{% extends "users/base.html" %}

{% block title %}

{% endblock title %}
    <title>Emtyaz Advisor - Reset Password</title>
{% block body %}
<div class="left hidden">
  <div class="debug">
    <pre>
      <code class=""></code>
    </pre>
  </div>
</div>
<div class="right">
  <ul class="tabs">
    <li class="tab">
      <a href="#/simple" data-target="form-1">Emtyaz Advisor</a>
    </li>
    <!--<li class="tab">
      <a href="#/advanced" data-target="form-2">Future</a>
    </li> -->
  </ul>
  <div class="tab-container">
    <form method="POST" class="form" data-form="form-1">
      {% csrf_token %}
      <input type="password" placeholder="New Password" class="input" name="password">
      <input type="password" placeholder="Confirm Password" class="input" name="password2">
      <input type="submit" value="Reset Password" class="button">
    </form>

    <form class="form hidden" data-form="form-2">
      <input type="password" placeholder="Username" class="input" data-id="name" name=password>
      <input type="submit" value="Log in" class="button" />
    </form>

    <div class="change-password hidden">
      <button class="button close-change-password">&times;</button>
      <form class="form" data-form="change-password">
        <input type="password" placeholder="Please change your password" class="input">
        <input type="submit" value="Change password" class="button" />
      </form>
    </div>

    <div class="change-password-error hidden">
      <button class="button close-change-password-error">&times;</button>
      <p>Your new password can't be the same as your old password!</p>
    </div>
  </div>
</div>
{% endblock body %}
