{% extends "users/base.html" %}

{% block title %}

{% endblock title %}
    <title>Emtyaz Advisor - Reset Password</title>
{% block body %}
<div class="left hidden">
  <div class="debug">
    <pre>
      <code class=""></code>
    </pre>
  </div>
</div>
<div class="right">
  <ul class="tabs">
    <li class="tab">
      <a href="#/simple" data-target="form-1">Emtyaz Advisor</a>
    </li>
    <!--<li class="tab">
      <a href="#/advanced" data-target="form-2">Future</a>
    </li> -->
  </ul>
  <div class="tab-container">
    <div class="reset-message">
        <strong class="reset-message error-color">Nope,  </strong>{{error_message}}
    </div>
  </div>
</div>
{% endblock body %}
